#header {
    background: rgb(0,5,6);
    background: linear-gradient(0deg, rgba(0,5,6,1) 2%, rgba(14,170,172,1) 100%);

}
#user-tools {
    color:  rgba(14,170,172,1);
}

#user-tools a:hover {
    color: #00ebee;
    transform: scale(1.05);
}

#logout-form:hover {
    color: #00ebee;
    transform: scale(1.05);
}
.module caption {
    background: rgba(14,170,172,1);
}

div.breadcrumbs {
    background:  rgba(0,5,6,1);
}

#changelist-filter h2 {
    background: rgba(14,170,172,1);
}

#id_tags_selector_chosen h2, .submit-row input, .submit-row input.default {
    background: rgba(14,170,172,1);
}