{% extends 'base.html' %}

{% block content %}

<div class="row-content">
    {% for p in posts %}
    {% if p.photos is not null and p.photos is not '' %}
    <h2>{{ p.title }}</h2>
    <div class="column">
        <a href="{{ p.photos.photo1.url }}">
        <img src="{{ p.photos.photo1.url }}" alt="p.photos__id" width="100" onclick="openImg();">
        </a>
    </div>
    <div class="column">
      <img src="{{ p.photos.photo2.url }}" alt="Nature" width="100" onclick="openImg(this);">
    </div>
    <div class="column">
      <img src="{{ p.photos.photo3.url }}" alt="Nature" width="100" onclick="openImg(this);">
    </div>
    <div class="column">
      <img src="{{ p.photos.photo4.url }}" alt="Nature" width="100" onclick="openImg(this);">
    </div>
   <!-- Расширяющийся контейнер изображений -->
    <div class="container">
  <!-- Закрыть изображение-->
        <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>

  <!-- Развернутое изображение -->
        <img id="expandedImg" style="width:100%">

  <!-- Текст изображения -->
     <div id="imgtext"></div>
    </div>
    {% else %}
    <p>{{ p.content }}</p>
      <p><a href="{{ p.get_absolute_url }}">Подробнее</a></p>
    {% endif %}
    {% endfor %}
</div>

{% endblock %}

{% block navigation %}
<nav>
<ul class="pagination">
    {% if page_obj.has_previous %}
            <li class="pagenum"><a href="?page={{ page_obj.previous_page_number }}">&lt;</a></li>
    {% endif %}
    {% for p in paginator.page_range  %}

        {% if p == page_obj.number %}
            <li class="pagenum"><a class="disabled">{{ p }}</a></li>
        {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
            <li class="pagenum"><a href="?page={{ p }}">{{ p }}</a></li>
        {% endif %}

    {% endfor %}
    {% if page_obj.has_next %}
        <li class="pagenum"><a href="?page={{ page_obj.next_page_number }}">&gt;</a></li>
    {% endif %}
</ul>
</nav>
{% endblock %}